{{ $T := . -}}
{{ $name := $T.Name -}}
{{ $Fields := $T.TypeInfo.Fields -}}
Module {{$name}}.
Section def.
Context `{ffi_syntax}.
{{ if .TypeInfo.IsGooseLang }}
Definition ty {{ if .TypeInfo.TypeParams -}}
({{ range $T_param := .TypeInfo.TypeParams }}{{$T_param}}' {{ end -}} : go_type){{" "}}
{{- end -}}
: go_type := structT [
{{ range $Fields | iterSepFields ";" -}}{{ $f := .X -}}
  {{indent 2}}"{{$f.Name}}" :: {{$f.GoType}}{{.Sep}}
{{ end -}}
]%struct.
{{ end -}}
Record t {{ template "_typeparams.tmpl" $T.TypeInfo.TypeParams -}}
:= mk {
{{ range $Fields -}}
  {{indent 2}}{{.CoqName}} : {{.Type}};
{{ end -}}
}.
End def.
End {{$name}}.

{{ if $T.TypeInfo.TypeParams -}}
Arguments {{$name}}.mk {_} {{ range $T_param := $T.TypeInfo.TypeParams -}}
{ {{$T_param}}' } {_ {{$T_param}} _}{{" "}}
{{- end -}}.
Arguments {{$name}}.t {_} {{ range $T_param := $T.TypeInfo.TypeParams -}}
{{$T_param}}' {_ {{$T_param}} _}{{" "}}
{{- end -}}.

{{ end -}}
Section instances.
Context `{ffi_syntax}.
{{ if $T.TypeInfo.TypeParams -}}
Context {{- template "_typeparams.tmpl" $T.TypeInfo.TypeParams -}}.

Global Instance {{$name}}_ty_wf : struct.Wf {{$T.GoTypeName}}.
Proof. apply _. Qed.
{{ end -}}

{{ if $Fields }}
Global Instance settable_{{$name}} : Settable {{$T.GallinaType}} :=
  settable! {{if $T.TypeInfo.TypeParams -}}
({{$name}}.mk {{- range $T_param := $T.TypeInfo.TypeParams -}}
{{ " " -}} ({{$T_param}}:={{$T_param}}) {{- end }})
{{- else }}{{$name}}.mk{{ end -}}
{{- " " -}} < {{- " " -}}
{{ range $Fields | iterSepFields "; " -}}
{{$name}}.{{ .X.CoqName }}{{.Sep}}
{{- end }} >.
{{ end -}}

Global Instance into_val_{{$name}} : IntoVal {{$T.GallinaType}} :=
  {| to_val_def v :=
    struct.val_aux {{$T.GoTypeName}} [
    {{ range $Fields | iterSepFields ";" -}} {{ $f := .X -}}
        "{{$f.Name}}" ::= #({{$name}}.{{$f.CoqName}} v){{.Sep}}
    {{ end -}}
    ]%struct
  |}.

Global Program Instance into_val_typed_{{$name}} : IntoValTyped {{$T.GallinaType}} {{$T.GoTypeName}} :=
{|
  default_val := {{$name}}.mk {{- range $Fields }} (default_val _){{ end }};
|}.
Next Obligation. solve_to_val_type. Qed.
Next Obligation. solve_zero_val. Qed.
Next Obligation. solve_to_val_inj. Qed.
Final Obligation. solve_decision. Qed.

{{ range $f := $Fields -}}
Global Instance into_val_struct_field_{{$name}}_{{$f.Name}} : {{/* type on next line */ -}}
  IntoValStructField "{{$f.Name}}" {{/* params on next line */ -}}
  {{$T.GoTypeName}} {{$name}}.{{$f.CoqName}}.
Proof. solve_into_val_struct_field. Qed.

{{ end }}
Context `{!ffi_model, !ffi_semantics _ _, !ffi_interp _, !heapGS Σ}.
{{- if $T.TypeInfo.IsGooseLang }}
Global Instance wp_type_{{$name}} :
  PureWp True
    ({{$T.PkgName}}.{{$name}}
{{- range $T_param := $T.TypeInfo.TypeParams }} #{{$T_param}}{{ end }})
    #{{$T.GoTypeName}}.
Proof. solve_type_pure_wp. Qed.

{{ end -}}

Global Instance wp_struct_make_{{$name}}
{{- range $Fields }} {{.CoqName}}{{ end -}} :
  PureWp True
    (struct.make #{{$T.GoTypeName}} (alist_val [
{{ range $Fields | iterSepFields ";" -}}{{ $f := .X -}}
{{indent 6}}"{{$f.Name}}" ::= #{{$f.CoqName}}{{.Sep}}
{{ end -}}
{{indent 4}}]))%struct
    #({{$name}}.mk {{- range $Fields }} {{.CoqName}}{{ end -}}
).
Proof. solve_struct_make_pure_wp. Qed.

{{ if $Fields }}
Global Instance {{$name}}_struct_fields_split dq l (v : {{$T.GallinaType}}) :
  StructFieldsSplit dq l v ( {{- /* continued */}}
{{ range $Fields | iterSepFields " ∗\n" -}}{{ $f := .X -}}
{{indent 4}}"H{{$f.Name}}" ∷ l ↦s[{{$T.GoTypeName}} :: "{{$f.Name}}"]{dq} v.({{$name}}.{{$f.CoqName}}){{.Sep}}
{{- end }}
  ).
Proof.
  rewrite /named.
  apply struct_fields_split_intro.
  unfold_typed_pointsto; split_pointsto_app.

  rewrite -!/(typed_pointsto_def _ _ _) -!typed_pointsto_unseal.
{{ range $f := .TypeInfo.FieldsExceptLast -}}
  {{indent 2}}simpl_one_flatten_struct (# ({{$name}}.{{$f.CoqName}} v)) {{$T.GoTypeName}} "{{$f.Name}}"%go.
{{ end }}
  solve_field_ref_f.
Qed.

{{ end -}}

End instances.
