{{- range $t := .Types -}}{{ $k := $t.Kind }}
(* type {{.PkgName}}.{{.Name}} *)
{{ if eq $k "axiom" -}}
{{ template "type_axiom.tmpl" $t -}}
{{ else if eq $k "simple" -}}
{{ template "type_simple.tmpl" $t -}}
{{ else if eq $k "struct" -}}
{{ template "type_struct.tmpl" $t -}}
{{ end -}}
{{ end -}}
